<div class="night-bg py-5 bg-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'background1.jpg' %>); height: 100%;">
  <img src="assets/logo.png" alt="" class="logo">

  <div class="home-card">
    <%= link_to 'Create account', 'users/sign_up', class: 'home-btn title' %>
    <br>
    <%= link_to 'Play', 'games/new', class: 'home-btn title' %>
  </div>

  <div class="container d-flex justify-content-between mt-auto">
    <%= link_to '', class: 'mini-btn' do %>
      <i class="fa-solid fa-gear"></i>
    <% end %>
    <%= link_to '#', class: 'mini-btn' do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
