<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-2.png' %>);">

  <div class="top-menu">
    <%= link_to :back do %>
    <p class="mini-btn"><i class="fa-solid fa-arrow-left"></i></p>
    <% end %>
    <%= link_to :back do %>
    <p class="mini-btn"><i class="fa-solid fa-gamepad" style="color: #ffffff;"></i></p>
    <% end %>
  </div>
<div data-controller="toggle">
  <div class="content-card">
    <div class="profile-card">
      <div class="profile-card-top">
        <%= cl_image_tag current_user.photo.key, alt: "", class: "avatar-profile" %>
        <div class="profile-card-text">
          <span><%= current_user.nickname %></span>
          <span id="ranking"> Super Explorer</span>
        </div>
        <p data-action="click->toggle#fire" class="mini-btn-ranking mx-auto placeholder-wave"><i class="fa-solid fa-ranking-star" style="color: #ffffff;"></i></p>
      </div>

      <div class="profile-card-bottom">
        <div id="left-metric">
          <span class="pink-text">25</span>
          <span>Places</span>
        </div>
        <div id="right-metric">
          <span class="pink-text">32 kms</span>
          <span>Distance</span>
        </div>
      </div>
    </div>
    <div data-toggle-target="togglableElement" class="main-card mt-3">
      <span class="title text-dark">My past games</span>
      <br>
      <span class="h4">Number of games played</span>
      <span class="pink-text h5">9</span>
      <br>
      <span class="h4">Number of games won</span>
      <span class="pink-text h5">7</span>
      <br>
      <span class="h4">Current ranking</span>
      <span class="pink-text h5">Super Explorer</span>
    </div>
    <div data-toggle-target="showRanking" class="d-none">
    <%= render 'top_ranking' %>
    </div>
    <%= link_to "Logout", destroy_user_session_path, class: "btn logout-pink-btn title w-100 mt-3", data: {turbo_method: :delete } %>
</div>
</div>
