
  <div class="score-card">
    <%# already existing %>
    <span>Rank</span>
    <span>Player</span>
    <span>Places</span>
    <span>Score</span>
  </div>

  <% game.participations.sort_by { |participation| participation.findings.count }.reverse.each_with_index do |participation, index| %>
    <div class="score-players">
      <p data-map-target="ranking" class='rankingPlayer'>#<%= index + 1 %></p>
      <%= participation.user.nickname %>
      <p data-map-target="foundPlaces"><%= participation.findings.count %> / <%= game.places_number %></p>
      <p data-map-target="score"><%= participation.score %></p>
    </div>
  <% end %>

