<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-ce.png' %>);">

  <div class="top-menu">
    <p class="mini-btn"><i class="fa-solid fa-gear"></i></p>
    <p class="mini-btn"><i class="fa-solid fa-user"></i></p>
  </div>

  <div class="content-card">

    <div class="profile-card">

      <div class="profile-card-top">
        <img src="https://sm.ign.com/ign_fr/cover/a/avatar-gen/avatar-generations_bssq.jpg" alt="" class="avatar-profile">
        <div class="profile-card-text">
          <span><%= current_user.email %></span>
          <span id="ranking">Explorer</span>
        </div>
      </div>

      <div class="profile-card-bottom">
        <div id="left-metric">
          <span class="pink-text"><%= current_user.places %></span>
          <span>Places</span>
        </div>
        <div id="right-metric">
          <span class="pink-text"><%= current_user.distance %> kms</span>
          <span>Distance</span>
        </div>
      </div>
    </div>
    <br>
    <div data-controller="lobby" >
      <div class="" data-lobby-target="content" >
        <div id="lobby-card">
          <span class="title">Lobby</span>
          <span class="title" id="token">PIN: <%= @game.pin %></span>
          <div id="players">
          <span>Player 1</span>
          <span>Player 2</span>
          <span>Player 3</span>
          <span>Player 4</span>
          <span>Player 5</span>
          <span>Player 6</span>
          <span>Player 7</span>
          <span>Player 8</span>
          </div>
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center">
          <span data-action="click->lobby#parameters" class="main-btn title">Game parameters</span>
          <span class="pink-btn title">Play</span>
        </div>
      </div>

      <div data-lobby-target="parameters" class="d-none">
        <p>Parameters: </p>
        <%= @game.radius %>
        <p data-action="click->lobby#content" >Lobby</p>
      </div>
    </div>
  </div>
</div>





<%#= "Pin of the game": @game.token %>
