<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-2.png' %>);">

  <div class="top-menu">
    <%= link_to new_game_path do %>
      <p class="mini-btn"><i class="fa-solid fa-arrow-left"></i></p>
    <% end %>
    <%= link_to profile_path(current_user), class: 'mini-btn' do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
  <div id="token-card">
    <span class="title" id="token">PIN: <%= @game.pin %></span>
  </div>

  <div class="content-card">
    <br>
    <div data-controller="lobby" data-lobby-id-value="<%= @game.id %>" data-lobby-user-id-value="<%= current_user.id %>">
      <div class="" data-lobby-target="content" >
        <div id="lobby-card">
          <span class="title">Lobby</span>
            <div data-lobby-target="players" id="players">
              <% @game.participations.each do |participation| %>
                <div class="players-name">
                  <%= cl_image_tag participation.user.photo.key , height: 50, width: 50, alt: "Player Marker", class: "avatar-lobby" %>
                  <%= render "participation", participation: participation %>
                </div>
              <% end %>
            </div>
          <br>
          <br>
        </div>

        <div class="btn-container">
          <div class="d-flex">
          <%= link_to "#" do %>
            <p class="mini-btn", data-action="click->lobby#parameters"><i class="fa-solid fa-gear"></i></p>
          <% end %>
          <%= link_to ready_game_path(@game) do %>
            <p class="mini-btn", data-action="click->lobby#ready"><i class="fa-solid fa-location-dot"></i></p>
          <% end %>
            <p class="loader_vert d-none" data-lobby-target="loader"></p>
          </div>
          <% if current_user == @game.user  %>
           <%= link_to "Play", game_start_path(@game), class: "main-btn title m-2", data: { action: 'click->lobby#start' } %>
          <% end %>
        </div>
      </div>

      <div data-lobby-target="parameters" class="main-card d-none">
        <br>
        <span class="title">Number of places</span>
        <span class="parameters-text"><%= @game.places_number %></span>
        <br>
        <span class="title">Location</span>
        <span class="parameters-text"><%= @game.location %></span>
        <br>
        <span class="title">Radius</span>
        <span class="parameters-text"><%= @game.radius%></span>
        <br>
        <span data-action="click->lobby#content" class="main-btn title">Lobby</span>
      </div>
    </div>
  </div>
</div>
