<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-ce.png' %>);">

  <div class="top-menu">
    <p class="mini-btn"><i class="fa-solid fa-gear"></i></p>
    <p class="mini-btn"><i class="fa-solid fa-user"></i></p>
  </div>

  <div class="content-card">

    <div class="profile-card">

      <div class="profile-card-top">
        <img src="https://sm.ign.com/ign_fr/cover/a/avatar-gen/avatar-generations_bssq.jpg" alt="" class="avatar-profile">
        <div class="profile-card-text">
          <span><%= current_user.nickname %></span>
          <span id="ranking">Explorer</span>
        </div>
      </div>

      <div class="profile-card-bottom">
        <div id="left-metric">
          <span class="pink-text"><%= current_user.places %></span>
          <span>Places</span>
        </div>
        <div id="right-metric">
          <span class="pink-text"><%= current_user.distance %> kms</span>
          <span>Distance</span>
        </div>
      </div>
    </div>
    <br>
    <div data-controller="lobby" data-lobby-id-value="<%= @game.id %>">
      <div class="" data-lobby-target="content" >
        <div id="lobby-card">
          <span class="title">Lobby</span>
          <span class="title" id="token">PIN: <%= @game.pin %></span>
          <div data-lobby-target="players" id="players">
            <%# already existing %>
            <% @game.participations.each do |participation| %>
              <span><%= participation.user.nickname %></span>
            <% end %>
          </div>
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center">
          <span data-action="click->lobby#parameters" class="main-btn title m-3">Game parameters</span>
          <%= link_to "Play", game_path(@game), class: "pink-btn title m-2 text-decoration-none"%>
        </div>
      </div>

      <div data-lobby-target="parameters" class="main-card d-none">
        <br>
        <span class="title">Number of places</span>
        <span class="parameters-text"><%= @game.places_number %></span>
        <br>
        <span class="title">Location</span>
        <span class="parameters-text"><%= @game.location %></span>
        <br>
        <span class="title">Radius</span>
        <span class="parameters-text"><%= @game.radius%></span>
        <br>
        <span data-action="click->lobby#content" class="main-btn title">Lobby</span>
      </div>
    </div>
  </div>
</div>
