<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-2.png' %>);">

    <div class="top-menu">
      <%= link_to root_path do %>
        <p class="mini-btn"><i class="fa-solid fa-house"></i></p>
      <% end %>
      <%= link_to profile_path(current_user), class: 'mini-btn' do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </div>

  <div class="content-card">

    <div class="profile-card">

        <div class="profile-card-top">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, alt: "", class: "avatar-profile" %>
          <% end %>

          <div class="profile-card-text">
            <span><%= current_user.nickname %></span>
            <span id="ranking">Explorer</span>
          </div>
        </div>

        <div class="profile-card-bottom">
          <div id="left-metric">
            <span class="pink-text"><%= current_user.places %></span>
            <span>Places</span>
          </div>
          <div id="right-metric">
            <span class="pink-text"><%= current_user.distance %> kms</span>
            <span>Distance</span>
          </div>
        </div>
      </div>

    <div data-controller="new" data-new-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="mt-3">
      <div class="main-card" data-new-target="choice">
        <span class="main-btn title" data-action="click->new#createGame">Create a game</span>
        <br>
        <span class="main-btn title" data-action="click->new#joinGame">Join a game</span>
      </div>
      <div class='d-none' data-new-target="create">
        <div class="container px-5 main-card ", style="text-align: center;" >
          <span class="title text-dark">Create a game</span>
          <br>
          <%= simple_form_for @game do |f| %>
            <%= f.input :location, label: 'Address', placeholder: 'Type your address', input_html: { data: { new_target: 'location' } } %>
            <div class="d-flex justify-content-evenly">
              <p data-action="click->new#locate" id="position"><i class="fa-solid fa-location-crosshairs"></i> Use my location</p>
              <p class="loader d-none" data-new-target="loading"></p>
            </div>
            <%= f.hidden_field :latitude, data: { new_target: "latitude" }, class: 'latInput'%>
            <%= f.hidden_field :longitude, data: { new_target: "longitude"}, class: 'lngInput'  %>
            <%= f.input :radius, collection: ['Choose a radius in km',0.5,1,2,3,4,5], default: '' %>
            <%= f.input :places_number, as: :range, label: 'Number of places you want to find', collection: (1..15), input_html: { type: 'range', min: 1, max: 10, value: 1 , data: { action: 'input->new#range' } } %>
            <output data-new-target="value"></output>

           <div class="d-flex mt-5 justify-content-between">
              <p data-action="click->new#return" class="mini-btn"><i class="fa-solid fa-arrow-left"></i></p>
              <%= button_tag( :class => "mini-btn") do %>
              <i class="fa-solid fa-check"></i>
              <% end %>
           </div>
          <% end %>
        </div>
      </div>
      <div class='d-none main-card' data-new-target="join" style="text-align: center;">
      <span class="title text-dark">Join a game</span>
          <br>
        <%= simple_form_for :join, url: join_path, method: :get do |f| %>
          <%= f.input :pin, label:'Enter Pin' %>

          <div class="d-flex mt-5 justify-content-between">
            <p data-action="click->new#return" class="mini-btn"><i class="fa-solid fa-arrow-left"></i></p>
            <%= button_tag( :class => "mini-btn") do %>
            <i class="fa-solid fa-check"></i>
            <% end %>
          </div>
        <% end %>
    </div>

  </div>
</div>
