<div class="forefront map_size">
  <div class="map_size"
    data-controller="map"
    data-map-targets-value="<%= @targets.to_json %>"
    data-map-areas-value="<%= @areas.to_json %>"
    data-map-players-value="<%= @players.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div>
      <p class="mini-btn-parameter-map"><i class="fa-solid fa-gear"></i></p>
    </div>
    <div>
      <p class="mini-btn-profile-map"><i class="fa-solid fa-user"></i></p>
    </div>
    <div>
      <p data-action="click->map#display" class="picture-btn"><i class="fa-solid fa-image"></i></p>
    </div>

    <div data-map-target="pictures" class="background map_size hidden-pictures">
      <%= render "pictures" %>
    </div>
  </div>
</div>
