<% content_for :meta_title, "Let's go #{DEFAULT_META["meta_product_name"]}" %>

<div class="forefront map_size position-relative">
  <div class="map_size"
    data-controller="map"
    data-map-targets-value="<%= @targets.to_json %>"
    data-map-areas-value="<%= @areas.to_json %>"
    data-map-players-value="<%= @players.to_json %>"
    data-map-game-id-value="<%= @game.id %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-current-participation-id-value="<%= @current_participation.id %>">
    <div>
      <p class="mini-btn-parameter-map" data-action="click->map#test"><i class="fa-solid fa-gear"></i></p>
      <span data-action="click->map#fire" class="mini-btn-score-map">Scores</span>
      <div data-map-target="scores" id="score-card" class="d-none">
        <div data-map-target="scores">
          <%= render 'score_card', game: @game %>
        </div>
      </div>
      <%= link_to profile_path(current_user), class: 'mini-btn-profile-map' do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <div>
      <p data-action="click->map#display" class="picture-btn"><i class="fa-solid fa-image"></i></p>
    </div>


    <div data-map-target="pictures" class="background map_size hidden-pictures">
      <%= render "pictures", game: @game %>
    </div>
  </div>
</div>
