<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-2.png' %>);">

  <div class="top-menu">
    <%= link_to root_path do %>
        <p class="mini-btn"><i class="fa-solid fa-house"></i></p>
      <% end %>
    <%= link_to profile_path(current_user), class: 'mini-btn' do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>

  <div class="content-card">
    <br>
    <div data-controller="lobby" data-lobby-id-value="<%= @game.id %>" data-lobby-user-id-value="<%= current_user.id %>">
      <div class="" data-lobby-target="content" >
        <div id="summary-card">
          <span class="title">Summary</span>
          <div id="summary-titles">
            <%# already existing %>
            <span>Rank</span>
            <span>Player</span>
            <span>Places</span>
            <span>Score</span>
          </div>


          <div data-map-target="summary">
              <% @game.participations.sort_by { |participation| participation.findings.count }.reverse.each_with_index do |participation, index| %>
                <div class="sum-players">
                  <p data-map-target="ranking" class='rankingPlayer'>#<%= index + 1 %></p>
                  <%= participation.user.nickname %>
                  <p data-map-target="foundPlaces"><%= participation.findings.count %> / <%= @game.places_number %></p>
                  <p data-map-target="score"><%= participation.score %></p>
                </div>
              <% end %>
          </div>

            <br>
            <br>
        </div>

        <div class="btn-container">
            <%= link_to "New game", new_game_path, class: "blue-btn title m-3" %>
        </div>
      </div>

    </div>
  </div>
</div>
